$light-bg-gradient:
  linear-gradient(180deg, #fff 0%, rgb(255, 255, 255, 0) 16%),
  linear-gradient(90deg, #f1f1f1 0%, #b4ced6 28%, #ffe5db 100%);
$dark-bg-gradient:
  linear-gradient(180deg, #000 0%, rgb(20, 24, 28, 0) 16%),
  linear-gradient(90deg, #000 0%, #28313b 28%, #485461 100%);
$category-hover-shadow-light: 0px 10px 30px 0px rgb(2, 47, 57, 0.1);
$category-hover-shadow-dark: 0px -1px 40px 0px rgb(134, 134, 134, 0.213);
$heading-text-shadow-dark:
  0 -1px 0 #5f1a07,
  0 1px 5px rgb(95 26 7),
  0 2px 5px #5f1a07,
  0 3px 5px #5f1a07,
  0 4px 5px #5f1a07,
  0 5px 0 #5f1a07,
  0 6px 0 #5f1a07,
  0 7px 0px #5f1a07,
  0 22px 30px rgb(95 26 7 / 90%),
  2px 2px 2px rgba(206, 89, 55, 0);

$bg-img: #{dark-light-choose($bg_light, $bg_dark)};

:root {
  --sublime-border-radius: 10px;
  --bg-gradient: #{dark-light-choose($light-bg-gradient, $dark-bg-gradient)};
  --category-box-bg: #{dark-light-choose($secondary, $header_background)};
  --category-hover-shadow: #{dark-light-choose(
      $category-hover-shadow-light,
      $category-hover-shadow-dark
    )};
  --sidebar-highlight: #2b7c85;
  --category-box-font-color: #{dark-light-choose(
      $primary-med-or-secondary-high,
      #858585
    )};
  --bg-img: url(#{$bg-img});
  --theme__title-boxshadow: #{dark-light-choose(
      "0 10px 30px 0px rgb(2, 47, 57, 0.1)",
      $heading-text-shadow-dark
    )};
}
