@font-face {
  font-family: Rye;
  src: url($rye) format("truetype");
}

@font-face {
  font-family: "Atkinson Hyperlegible", sans-serif;
  src: url($atkinson_hyperlegible) format("truetype");
}

:root {
  --d-border-radius: var(--sublime-border-radius);
  // --d-button-default-icon-color: var(--secondary);
  // --d-button-default-bg-color: var(--tertiary);
  // --d-button-default-text-color--hover: var(--quaternary);
  // --d-button-primary-text-color--hover: var(--quaternary);
  --d-sidebar-admin-background: var(--header_background);
  --topic-list-item-background-color: var(--header_background);
  --heading-font-family: Rye, serif;
  // --topic-list-item-background-color--visited: var(--primary-very-low);
}

#main-outlet-wrapper::after {
  background: none !important;
}

html.has-full-page-chat body #main-outlet {
  padding-bottom: unset !important;
}

body {
  background-size: auto;
  background-image: var(--bg-img);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header_primary);
  font-weight: 400;
  text-transform: uppercase;
}

h1,
h2 {
  text-shadow: var(--theme__title-boxshadow);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.d-editor-textarea-wrapper,
.select-kit-header,
.btn-default,
.btn-primary,
.btn-secondary,
.btn-danger,
.alert.alert-info {
  border-radius: var(--sublime-border-radius);
  // text-shadow:
  //   1px 1px 2px #000,
  //   -1px -1px 2px #000,
  //   1px 2px 2px #000,
  //   1px -1px 2px #000;
  // color: var(--primary);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.multi-select.is-expanded .multi-select-header,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  border-radius: var(--sublime-border-radius);
  box-shadow: none;
  outline: none;
}

.nav-pills > li a.active::after {
  display: none;
}

.d-header {
  border-bottom: 5px dotted var(--quaternary);
}

// Logo + Welcome Box
#main-outlet-wrapper {
  grid-template-areas:
    "sidebar banner"
    "sidebar content"
    "sidebar below-content";
}

// #main-outlet-wrapper #main-outlet {
//   justify-self: center;
// }

#custom-welcome-banner {
  grid-area: banner;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

body.has-full-page-chat #custom-welcome-banner,
body.admin-interface #custom-welcome-banner {
  display: none;
}

.inner-logo-area {
  margin: 30px auto;
}

.welcome-logo {
  width: 100%;
  max-width: 1100px;
  max-height: 300px;
  margin: auto;
  display: block;
  object-fit: cover;
}

//Main Container
body #main-outlet {
  background: var(--secondary);
}

// Main Container
body:not(.has-full-page-chat) #main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border: 5px dotted var(--tertiary);
  border-radius: var(--sublime-border-radius);
  padding: 3em 3em 5%;
  max-width: 1150px;
  padding-bottom: 5% !important; // overriding inline style

  @media screen and (width <= 700px) {
    padding: 1.5em;
    margin-top: 0;
  }

  @media screen and (width <= 1120px) {
    width: 80%;
  }

  @media screen and (width <= 1075px) {
    width: 85%;
  }

  .archetype-regular & {
    min-height: 500px;
  }
}

// Category Boxes with Category Groups component turned on
.custom-category-group {
  justify-items: center;
}

.custom-category-group-toggle h2 {
  color: var(--header_primary);
  text-shadow: var(--theme__title-boxshadow);
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .custom-category-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.custom-category-group-toggle {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  --s: 1.2em;
  --d: 0.3em;
  --c: 0.8em;
  padding: 0 calc(var(--s) + 0.5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(
        at left var(--s) bottom var(--d),
        #0000 25%,
        #0008 0 37.5%,
        #0004 0
      )
      0 / 50% 100% no-repeat,
    conic-gradient(
        at right var(--s) bottom var(--d),
        #0004 62.5%,
        #0008 0 75%,
        #0000 0
      )
      100% / 50% 100% no-repeat;
  clip-path: polygon(
    0 var(--d),
    var(--s) var(--d),
    var(--s) 0,
    calc(100% - var(--s)) 0,
    calc(100% - var(--s)) var(--d),
    100% var(--d),
    calc(100% - var(--c)) calc(50% + var(--d) / 2),
    100% 100%,
    calc(100% - var(--s) - var(--d)) 100%,
    calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) 100%,
    0 100%,
    var(--c) calc(50% + var(--d) / 2)
  );
  background-color: var(--quaternary);
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin: 10px 0 10px;
}

// Custom Topic Count override
.custom-topic-count {
  padding: 0 1em 0.8em 1em;
}

// // iOS Full Page Chat Fixes
// html.ios-device.has-full-page-chat {
//   body {
//     height: 100vh !important;
//     width: 100vw !important;
//   }

//   #main-outlet {
//     height: 100% !important;
//     max-height: 100% !important;
//     overflow: hidden !important;
//     padding: 0 !important;
//     margin: 0 !important;
//     border: none !important;
//   }

//   .full-page-chat {
//     height: 100% !important;
//     max-height: 100% !important;
//   }
// }

// Inside Category Banner spacing
.list-controls {
  margin-top: 15px;
}

// COPIED FROM DESKTOP
// Category Boxes
.category-boxes {
  display: grid;
  border-radius: var(--sublime-border-radius);

  .category-box {
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: none;
    border-top: 2px solid;
    background: var(--category-box-bg);
    border-radius: var(--sublime-border-radius);
    box-shadow: 0 3px 6px 0 rgb(2, 47, 57, 0.14);

    .category-box-inner {
      border: none;
      padding: 0;

      .category-details {
        padding: 0.8em 1em 0.2em 1em;
      }
    }

    &:hover {
      box-shadow: var(--category-hover-shadow);
    }
  }

  .description {
    padding-top: 10px;
    color: var(--category-box-font-color);
  }
}
