input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.d-editor-textarea-wrapper,
.select-kit-header,
.btn-default,
.btn-primary,
.btn-secondary,
.btn-danger,
.alert.alert-info {
  border-radius: var(--sublime-border-radius);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.multi-select.is-expanded .multi-select-header,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  border-radius: var(--sublime-border-radius);
  box-shadow: none;
  outline: none;
}

.nav-pills > li a.active::after {
  display: none;
}

// Logo + Welcome Box
#custom-welcome-banner {
  background: rgb(128, 47, 0);
  color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1088px;
}

.inner-logo-area {
  margin-top: 30px;
  padding: 3em 3em 5%;
}
