:root {
  --d-sidebar-admin-background: var(--header_background);
  --topic-list-item-background-color: var(--header_background);
  // --topic-list-item-background-color--visited: var(--primary-very-low);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.d-editor-textarea-wrapper,
.select-kit-header,
.btn-default,
.btn-primary,
.btn-secondary,
.btn-danger,
.alert.alert-info {
  border-radius: var(--sublime-border-radius);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.multi-select.is-expanded .multi-select-header,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  border-radius: var(--sublime-border-radius);
  box-shadow: none;
  outline: none;
}

.nav-pills > li a.active::after {
  display: none;
}

.d-header {
  border-bottom: 5px dotted var(--quaternary);
}

// Logo + Welcome Box
#custom-welcome-banner {
  box-sizing: border-box;
  width: 100%;

  @media screen and (width <= 700px) {
    padding: 1.5em;
    margin-top: 0;
  }

  @media screen and (width <= 1120px) {
    width: 90%;
  }

  @media screen and (width <= 1075px) {
    width: 95%;
  }
}

body.has-full-page-chat #custom-welcome-banner {
  display: none;
}

.inner-logo-area {
  margin: 30px auto;
}

.welcome-logo {
  width: 100%;
  max-width: 1100px;
  max-height: 300px;
  margin: auto;
  display: block;
  object-fit: cover;
}

//Main Container
body #main-outlet {
  background: var(--secondary);
}

// Category Boxes with Category Groups component turned on
.custom-category-group {
  justify-items: center;
}

@media screen and (min-width: 800px) {
  .custom-category-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.custom-category-group-toggle {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  --s: 1.2em;
  --d: 0.3em;
  --c: 0.8em;
  padding: 0 calc(var(--s) + 0.5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(
        at left var(--s) bottom var(--d),
        #0000 25%,
        #0008 0 37.5%,
        #0004 0
      )
      0 / 50% 100% no-repeat,
    conic-gradient(
        at right var(--s) bottom var(--d),
        #0004 62.5%,
        #0008 0 75%,
        #0000 0
      )
      100% / 50% 100% no-repeat;
  clip-path: polygon(
    0 var(--d),
    var(--s) var(--d),
    var(--s) 0,
    calc(100% - var(--s)) 0,
    calc(100% - var(--s)) var(--d),
    100% var(--d),
    calc(100% - var(--c)) calc(50% + var(--d) / 2),
    100% 100%,
    calc(100% - var(--s) - var(--d)) 100%,
    calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) 100%,
    0 100%,
    var(--c) calc(50% + var(--d) / 2)
  );
  background-color: var(--quaternary);
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin: 10px 0 10px;
}

// // iOS Full Page Chat Fixes
// html.ios-device.has-full-page-chat {
//   body {
//     height: 100vh !important;
//     width: 100vw !important;
//   }

//   #main-outlet {
//     height: 100% !important;
//     max-height: 100% !important;
//     overflow: hidden !important;
//     padding: 0 !important;
//     margin: 0 !important;
//     border: none !important;
//   }

//   .full-page-chat {
//     height: 100% !important;
//     max-height: 100% !important;
//   }
// }

// Inside Category Banner spacing
.list-controls {
  margin-top: 15px;
}
