// Sidebar Enhancements
:root {
  --d-sidebar-width: 14em;
}

body.has-full-page-chat {
  overflow: hidden;

  #main-outlet {
    max-width: unset;
  }

  .sidebar-wrapper {
    --top-offset: 30px;
    --bottom-offset: 50px;
    height: auto;
    max-height: calc(
      var(--composer-vh, 1dvh) *
        100 - var(--main-outlet-offset, 0px) - var(--top-offset, 0px) - var(
          --bottom-offset,
          0px
        )
    );
    margin: var(--top-offset) 0 var(--bottom-offset);
    background-color: var(--secondary);
    border-radius: var(--sublime-border-radius);
    top: calc(var(--header-offset) + 30px);
    border-top: 4px solid var(--sidebar-highlight);

    .sidebar-section-wrapper
      .sidebar-section-content
      .sidebar-section-link-wrapper,
    .sidebar-more-section-links-details {
      .sidebar-section-link {
        &:hover,
        &:focus,
        &.active {
          color: var(--tertiary);
          background: none;

          .sidebar-section-link-prefix.icon {
            color: var(--tertiary);
          }
        }
      }
    }
  }
}

.desktop-view .sidebar-footer-wrapper .sidebar-footer-container::before {
  background: linear-gradient(to bottom, transparent, rgb(var(--secondary), 1));
}

// Logo + Welcome Box
#main-outlet-wrapper {
  grid-template-areas:
    "sidebar banner"
    "sidebar content"
    "sidebar below-content";
}

// Main Container
body #main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border: 5px dotted var(--tertiary);
  border-radius: var(--sublime-border-radius);
}

// Search Banner
.custom-search-banner-wrap .search-menu {
  .search-input {
    border-radius: 0.25em;

    input[type="text"] {
      border: 1px solid transparent;
      border-radius: var(--sublime-border-radius);

      &:focus {
        outline: 3px solid rgb(var(--primary-rgb), 0.35);
      }
    }
  }
}

.display-search-banner {
  #main-outlet {
    padding-top: 2em;
  }
}

body.has-full-page-chat #main-outlet {
  width: 100% !important; // overriding media queries
}

// Modals
.modal-inner-container {
  border-radius: var(--sublime-border-radius);
  border-top: 4px solid var(--sidebar-highlight);
}

// Nav
.nav-pills li a {
  border: 1px solid transparent;
  border-radius: var(--sublime-border-radius);

  &:hover {
    border-radius: var(--sublime-border-radius);
    transition: all 0.3s linear;
    background-color: transparent;
    color: var(--tertiary);
    border: 1px dashed var(--tertiary);
  }

  &.active {
    border-radius: var(--sublime-border-radius);
    transition: all 0.3s linear;
    color: var(--secondary);
    border: 1px solid var(--sublime-border-radius);
    background: var(--tertiary);
  }
}

@media (width <= 960px) {
  .category-boxes.with-logos.with-subcategories {
    grid-template-columns: 1fr;
  }
}

body.has-sidebar-page {
  .chat-channel {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 82px
    );
  }

  &.has-full-page-chat #main-outlet-wrapper {
    gap: 0 var(--d-main-content-gap);
  }
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat .channels-list {
  height: calc(100vh - var(--main-outlet-offset) - 82px);
  box-sizing: border-box;
}

.ipados-device.has-full-page-chat:not(.discourse-sidebar)
  .full-page-chat
  .channels-list {
  height: inherit;
  box-sizing: border-box;
}

body.has-full-page-chat {
  #main-outlet {
    padding-bottom: 0 !important; // overrides another important
  }
}

body:not(.has-sidebar-page).has-full-page-chat {
  #main-outlet-wrapper {
    max-height: calc(100dvh - var(--header-offset));
  }

  .chat-channel {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 82px
    );
  }
}
