// Sidebar Enhancements
:root {
  --d-sidebar-width: 14em;
}

body.has-full-page-chat {
  overflow: hidden;

  #main-outlet {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    max-width: 100% !important;
    width: 100% !important;
    height: calc(100vh - var(--header-offset, 60px)) !important;
    overflow: hidden !important;
  }
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat .channels-list {
  padding-bottom: unset !important;
}

// Main Container
body:not(.has-full-page-chat) #main-outlet {
  box-sizing: border-box;
  width: 100%;
}
